:root {
    --black: #222222;
    --blue: #267dda;
    --white: rgba(243, 242, 239, 1);
    --gray: rgb(232, 232, 232);
    --lightGray: rgb(243, 243, 243);
    --darkGray: rgb(162, 162, 162);
    --lightBlack: rgb(116, 116, 116);
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

::selection {
    background: var(--blue);
    color: white;
}
::-moz-selection {
    background: var(--blue);
    color: white;
}
