.profile {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
