.circleBody {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 65px;
    position: relative;
}

.circleBanner {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 65px;
    left: 0;
    user-select: none;
}

.circlePicture {
    min-height: 148px;
    min-width: 148px;
    height: 148px;
    width: 148px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: 226px;
    left: 0;
    user-select: none;
    box-shadow: 0 0 20px rgba(132, 132, 132, 0.6);
}

.circleUpper {
    margin-top: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    z-index: 98;
}

.circleUpperUpper {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
}

.circleUpperLower {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circleUpperLowerLeft {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.circleUpperLowerRight {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circleName {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-right: 12px;
}

.circleTitle {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.circleStats {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.circleStat0 {
    font-size: 15px;
    font-weight: 500;
    color: var(--blue);
}

.circleStat1 {
    font-size: 15px;
    font-weight: 500;
    color: var(--lightBlack);
}


.circleDot {
    font-size: 14px;
    margin: 0 10px;
    color: var(--lightBlack);
}

.circleButtons {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.messageButton {
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 1.4px solid var(--gray);
    padding: 0 16px;
    cursor: pointer;
    margin-right: 20px;
}

.messageIcon {
    font-size: 16px;
    color: var(--blue);
    margin-right: 10px;
}

.messageText {
    font-size: 13px;
    font-weight: 500;
}

.connectButton {
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blue);
    padding: 0 16px;
    cursor: pointer;
}

.connectIcon {
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

.connectText {
    font-size: 13px;
    color: white;
    font-weight: 500;
}

.lowerRightStat {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.lowerRightStatIcon0 {
    font-size: 18px;
    color: rgb(255, 225, 0);
    width: 20px;
    margin-right: 6px;
}

.lowerRightStatIcon1 {
    font-size: 18px;
    color: rgb(40, 140, 207);
    width: 20px;
    margin-right: 6px;
}

.lowerRightStatIcon2 {
    font-size: 18px;
    color: rgb(56, 173, 85);
    width: 20px;
    margin-right: 6px;
}

.lowerRightStatText {
    font-size: 16px;
    font-weight: 500;
}

.mutualFriend {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mutualFriendPicture {
    min-height: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.mutualFriendName {
    font-size: 14px;
    font-weight: 500;
    color: var(--lightBlack);
    cursor: pointer;
}

.circleLower {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    z-index: 98;
}

.circleLowerLeft {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid var(--gray);
}

.circleLowerRight {
    position: sticky;
    min-height: 600px;
    height: 100%;
    width: 30%;
    top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-top: 2px solid var(--gray);
}

.circleAbout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    padding-right: 20px;
}

.circleAboutHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.aboutTitle {
    font-size: 18px;
    font-weight: 600;
}

.aboutLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aboutLink {
    font-size: 14px;
    font-weight: 500;
    color: var(--blue);
    margin-right: 8px;
}

.aboutIcon {
    font-size: 14px;
    color: var(--blue);
    margin-bottom: 1px;
}

.circleAboutBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circleAboutText {
    font-size: 14px;
    white-space: pre-wrap;
}

.circles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.circlesToggle {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 12px;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}

.circlesTitle {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.circlesList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
}

.circlesListItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    cursor: pointer;
    padding: 16px 0;
}

.circlesListItemPicture {
    min-height: 30px;
    min-width: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.circlesListItemText {
    font-size: 14px;
    font-weight: 500;
    margin-right: 12px;
}

.circlesLock {
    font-size: 20px;
    color: var(--darkGray);
    margin-bottom: 4px;
}

.circlePosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    padding-right: 20px;
}

.activityText {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
}

.circlePostsOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.circlePostsOption {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.circlePostsOption1 {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid var(--blue);
    user-select: none;
}

.circlePostsBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.showMore {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--gray);
    margin-top: 20px;
    cursor: pointer;
}

.showMoreText {
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
    color: var(--lightBlack)
}

.showMoreIcon {
    font-size: 15px;
    color: var(--lightBlack);
}

.circleNameContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.verifiedContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    margin-right: 12px;
}

.verifiedBadge {
    font-size: 22px;
    color: var(--blue);
    margin-bottom: 6px;
}

.verifiedCheck {
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
    position: absolute;
}
