.createPost {
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: var(--gray) solid 1.4px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.createPostLeft {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profilePicture {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: var(--gray);
}

.createPostRight {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.input {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.8);
    border-radius: 6px;
    border: var(--gray) solid 1px;
    padding: 5px 20px;
}

.buttons {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button {
    height: 40px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--gray) solid 1.4px;
    border-radius: 6px;
    margin-right: 20px;
    cursor: pointer;
}

.buttonIcon {
    font-size: 18px;
    color: var(--blue);
    margin-right: 10px;
}

.buttonText {
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
}
